<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="navigation bars">  
    <meta name="author" content="João Roberto">

    <title>LAYOUTS</title>

</head>

<body>
    
    <!-- 
        A estrutura de um website é, geralmente, dividida em cabeçalho, menu, conteúdo e rodapé. Obviamente, a escolha do layout depende muito das preferências de cada um.
        Geralmente, os websites exibem o seu conteúdo em colunas, tal como acontece em jornais e revistas.
        Dentro do conteúdo podem surgir vários elementos HTML, tais como elementos section, article, aside, entre outros.
        ELEMENTOS DE LAYOUT HTML
        O HTML tem diversos elementos que definem diferentes partes de uma página web. A figura abaixo mostra um esquema destes elementos e a sua normal disposição na página.
        Todos estes elementos deverão estar contidos no <body> do documento HTML. De seguida, damos uma breve explicação de cada um dos elementos:
             <header>: define o cabeçalho de um documento ou de uma secção.
             <nav>: define um conjunto de links de navegação.
             <section>: define uma secção de um documento.
             <article>: define um conteúdo independente e autocontido.
             <aside>: define o conteúdo fora do conteúdo em que está contido (como uma barra lateral).
             <footer>: define um rodapé de um documento ou de uma secção.
        
        TÉCNICAS DE LAYOUT
        Para criar layouts de várias colunas pode recorrer-se a uma de quatro técnicas diferentes, cada uma com as suas próprias características:
             Framework CSS.
             CSS float.
             CSS flexbox.
             CSS grid.
        Nos pontos seguintes desta unidade vamos dar exemplos de como cada uma destas técnicas funciona.        
     -->

     <!-- 
        FRAMEWORK CSS
        As frameworks são usadas quando se pretende criar layouts de forma fácil e rápida. Exemplos de frameworks são o W3.CSS e o Bootstrap. Mais à frente, neste módulo, abordar-se-á com mais profundidade o Bootstrap.
        Estas bibliotecas dão estrutura à página web, e servem para construir layouts de forma rápida e simples. Estas estruturas são, por defeito, responsivas.
        Geralmente são compostas por arquivos CSS e JS.

        CSS FLOAT
        É muito comum usar as propriedades float e clear do CSS quando se pretende construir layouts de websites. Esta técnica apresenta como desvantagem o facto de os elementos flutuantes estarem ligados ao fluxo do documento o que pode condicionar a flexibilidade da página.
        Vejamos o exemplo de um layout feito através do elemento float.
        Exemplo
        Imagine que pretende construir um website semelhante ao da figura abaixo.
        Este site é constituído por um cabeçalho <header>, o conteúdo <section> é composto por duas colunas, uma com uma barra de navegação <nav> e outra com um artigo <article> e, por fim, um rodapé <footer>.
      -->

      

    
</body>

</html>